/*
This file contains all of Nosey's colors.
Use these throughout the other .LESS files
These colors are all taken directly from
the Nosey style guide
*/

// Main brand colors
$brand-accent-color: #61F061;
$base-color: #1A1A1A;
$base2-color: #000000;
$base3-color: #212121;
$base4-color: #303030;
$font-color: #F0F6FA;
$font2-color: #BBBBBD;
$font5-color: #72767a;

// Accent color - different shades
$brand-accent2-color: #55C755;
$brand-accent3-color: #479D47;

// Alternate colors
$alternate-color: #212432;
$alternate2-color: #203248;
$alternate3-color: #F1E55B;
$alternate4-color: #53667B;
$alternate5-color: #34364b;
$alternate6-color: #1E1F23;
